<template>
  <div class="app-layout">
    <b-navbar tag="header" toggleable="lg" type="dark" variant="info">
      <b-navbar-brand :to="`/todo`">Todo-App</b-navbar-brand>

      <b-spinner class="d-lg-none d-xl-none" v-show="isAjaxInProgress" label="Loading..."></b-spinner>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#">Link</b-nav-item>
          <b-nav-item href="#" disabled>Disabled</b-nav-item>
          <b-nav-item :to="'/reactive-test'">Reactive Test</b-nav-item>
          <b-nav-item :to="'/form-test'">Form Test</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
            <b-spinner :class="{'d-none': true, 'd-lg-inline-block d-xl-inline-block': isAjaxInProgress}"  label="Loading..."></b-spinner>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <b-container>
      <router-view></router-view>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {
  },
  created() {
    this.interceptorRequest = this.$http.interceptors.request.use(this.interceptRequest, this.interceptRequestRejection);
    this.interceptorResponse = this.$http.interceptors.response.use(this.interceptResponse, this.interceptResponseRejection);
  },
  destroyed() {
    this.$http.interceptors.request.eject(this.interceptorRequest);
    this.$http.interceptors.response.eject(this.interceptorResponse);
  },
  data() {
    return {
      interceptorRequest: 0,
      interceptorResponse: 0,
      ajaxInProgress: 0,
    }
  },
  computed: {
    isAjaxInProgress() {
      return this.ajaxInProgress > 0;
    },
  },
  methods: {
    startAjax() {
      this.ajaxInProgress += 1;
    },
    endAjax() {
      if (this.ajaxInProgress <= 0) {
        return;
      }
      this.ajaxInProgress -= 1;
    },
    interceptRequest(config) {
      this.startAjax();
      return config;
    },
    interceptRequestRejection(error) {
      return Promise.reject(error)
    },
    interceptResponse(response) {
      this.endAjax();
      return response;
    },
    interceptResponseRejection(error) {
      this.endAjax();
      return Promise.reject(error)
    }
  },
}
</script>

<style>
.app-layout {
  display: flex;
  flex-direction: column;;
}
</style>
