<template>
  <div class="app-layout">
    the app


    <slot></slot>


    <div>
      baaad:
      <test-view></test-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppTest',
  components: {
  },
  created() {
  },
  destroyed() {
  },
  data() {
    return {

    }
  },
}
</script>

<style>

</style>
