{% extends 'form_test/base.html.twig' %}

{% block head_javascript %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% form_theme form with ['form_theme.html.twig', _self] %}


    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit">Speichern</button>

    {{ form_end(form) }}
{% endblock %}


{% block body_javascript %}
    {{ parent() }}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $(function () {
        $('select[data-ajax-endpoint]').select2({
            ajax: {
                url: function (params) {
                    const ajaxEndpoint = String(this.data('ajax-endpoint'));
                    console.log(ajaxEndpoint, window.location.origin);
                    const url = new URL(ajaxEndpoint, window.location.origin);
                    url.searchParams.set('q', params.term);

                    const result =  url.toString();

                    console.log(result);

                    return result;
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.map(elem => {
                            return {id: elem.value, text: elem.label};
                        }),
                        pagination: {
                            more: (params.page * 10) < data.count_filtered
                        }
                    };
                }
            },
        });
    })

</script>
{% endblock %}
