<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block head_title %}arghle{% endblock %}</title>
    {% block head_javascript %}
        <link href="{{ asset('app.js', 'vue') }}" rel="preload" as="script">
        <link href="{{ asset('chunk-vendors.js', 'vue') }}" rel="preload" as="script"></head>
        {% if app.environment == 'prod' %}
        <link href="{{ asset('app.css', 'vue') }}" rel="preload" as="style">
        <link href="{{ asset('chunk-vendors.css', 'vue') }}" rel="preload" as="style">

        <link href="{{ asset('app.css', 'vue') }}" rel="stylesheet">
        <link href="{{ asset('chunk-vendors.css', 'vue') }}" rel="stylesheet">
        {% endif %}
    {% endblock %}
<body>

{% block body %}
{% endblock %}

{% block body_javascript %}
<script type="text/javascript" src="{{ asset('chunk-vendors.js', 'vue') }}"></script>
<script type="text/javascript" src="{{ asset('app.js', 'vue') }}"></script>
{% endblock %}
</body>
</html>

