{% extends 'form_test/base.html.twig' %}

{% block body %}

<p>Forms:</p>
<ul>
    {% for table in tables %}
        <li><a href="{{ path('form_test_app_formtest_tableedit', {'id': table.id}) }}">{{ table.name }}</a></li>
    {% endfor %}
</ul>

{{ form(createForm) }}

{% endblock %}
