
<table>
        <tr>
                <th>#</th>
                {% for col in table.cols %}
                        <th>{{ col.colName }}</th>
                {% endfor %}
        </tr>
    {% for row in table.rows %}
        <tr>
                <td>{{ row.rowName }}</td>
            {% for cell in row.cells %}
                <td>{{ cell.value }}</td>
            {% endfor %}
        </tr>

    {% endfor %}
</table>