{% extends 'form_test/base.html.twig' %}

{% block body %}
<sf-form serialized-form="{{ formSerialized|json_encode }}">

</sf-form>

<div>

    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit">Hidden Submit</button>
    {{ form_end(form) }}

</div>
{% endblock %}
