<template>
  <div>
    <form :action="structure.vars.action" :method="structure.vars.method">
      <Form :form-structure="structure" :form-data="formData[structure.vars.name]" @input="formData[structure.vars.name] = $event">
      </Form>
      <button type="submit" @click.prevent="submitForm">Save</button>
    </form>

    <button type="button" @click="testButtonClicked">Test</button>
    {{formData}}
  </div>
</template>

<script>
import Form from "../components/Form/Form";
import {extractFormDataTree} from "@/components/Form/lib";
import {getFormData, submitForm} from "./FromTestFunction";

export default {
  components: {Form},
  props: {},
  data() {
    const structure = getFormData();
    return this.getState(structure);
  },
  methods: {
    getState(form) {
      const formData = extractFormDataTree(form, true);
      return {
        structure: form,
        formData,
      }
    },
    updateState(form) {
      const {structure, formData} = this.getState(form);
      console.log('updateState', structure);
      this.structure = structure;
      this.formData = formData;
      // this.deepAssign(this.structure, structure);
      // this.deepAssign(this.formData, formData);
    },
    deepAssign(target, source) {
      const keys = new Set(Object.keys(source));
      const keysToDelete = new Set(Object.keys(target).filter(key => !keys.has(key)));

      for (const key of keys) {
        if (typeof source[key] === "object" && !Array.isArray(source[key]) && target[key]) {
          this.deepAssign(target[key], source[key]);
        } else if(!target[key]) {
          this.$set(target, key, source[key]);
        } else {
          target[key] = source[key];
        }
      }

      for (const key of keysToDelete) {
        this.$delete(target, key);
      }
    },
    submitForm() {
      submitForm(this.formData).then(response => {
        console.log(response);
        if (response.data.form) {
          this.updateState(response.data.form);
        }
      }).catch(error => {
        console.log(error);
      });
    },
    testButtonClicked() {
      console.log(this);
    }
  },
};
</script>