<template>
    <div>
        <TreeElement :structure-data="structure"></TreeElement>

        <b-button @click.prevent="updateData">Update data</b-button>
    </div>
</template>

<script>
    import TreeElement from "../components/TreeElement";
    export default {
        name: "ReactiveTest",
        components: {TreeElement},
        data() {
            return {
                structure: {
                    vars: {
                        label: 'root',
                        errors: [],
                    },
                    children: {
                        hallo: {
                            vars: {
                                label: "hallo",
                                errors: [],
                            }
                        },
                        welt: {
                            vars: {
                                label: "welt",
                                errors: [],
                            }
                        }
                    }
                }
            };
        },
        // watch: {
        //     structure: {
        //         deep: true,
        //         handler(newStructure, oldStructure) {
        //             console.log('sheeeeeit', newStructure, oldStructure);
        //         }
        //     },
        // },
        methods: {
            updateData() {
                const newData = {
                    vars: {
                        label: 'rootli',
                        errors: [],
                    },
                    children: {
                        hallo: {
                            vars: {
                                label: "hallo",
                                errors: [
                                    'oh no!'
                                ],
                            }
                        },
                        welt: {
                            vars: {
                                label: "welt",
                                errors: [],
                            }
                        },
                        hans: {
                            vars: {
                                label: 'hans',
                                errors: [],
                            }
                        }
                    }
                };

                void newData;

                //this.structure.children.hallo.vars.errors = ['oh no'];
                this.deepAssign(this.structure, newData);

            },
            deepAssign(target, source) {
                const keys = new Set(Object.keys(source));
                const keysToDelete = new Set(Object.keys(target).filter(key => !keys.has(key)));

                for (const key of keys) {
                    if (typeof source[key] === "object" && !Array.isArray(source[key]) && target[key]) {
                        this.deepAssign(target[key], source[key]);
                    } else if(!target[key]) {
                        this.$set(target, key, source[key]);
                    } else {
                        target[key] = source[key];
                    }
                }

                for (const key of keysToDelete) {
                    this.$delete(target, key);
                }
            }
        },
    };
</script>

<style scoped>

</style>