<template>
    <b-form @submit="onSubmit($event)">
        <b-form-checkbox type="checkbox" v-model="done"></b-form-checkbox>
        <b-form-input type="text" v-model="title"></b-form-input>
        <b-button type="submit">Speichern</b-button>
    </b-form>
</template>

<script>
    export default {
        name: "todo-item",
        props: {
            item: {
                type: Object,
                required: false,
            },
        },
        data() {
            return {
                done: false,
                title: '',
                ...(this.item ? this.item : {}),
            };
        },
        computed: {
            currentItem() {
                return {done: this.done, title: this.title};
            },
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault();
                this.$emit('save', this.currentItem);
            },
            reset() {
              this.done = false;
              this.title = '';
            },
        }
    }
</script>

<style scoped>

</style>