<template>
    <div>
        <h1>Todo Lists</h1>

        <div v-show="loading">Loading...</div>

        <div v-show="!loading">
            <ul>
                <li v-for="list in lists" v-bind:key="list.id"><router-link :to="`/todo/${list.id}`">{{list.name}}</router-link></li>
            </ul>
        </div>

        <div>
            <b-form @submit="createList($event)">
                <b-form-input type="text" v-model="title"></b-form-input>
                <b-button type="submit">Todo Liste erstellen</b-button>
            </b-form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: true,
                lists: [],
                title: '',
            }
        },
        created() {
            this.loadLists();
        },
        methods: {
            loadLists() {
                this.$http
                    .get('/api/todo_lists')
                    .then((response) => {
                        this.lists = response.data;
                    })
                    .finally(() => this.loading = false)
            },
            createList(evt) {
                evt.preventDefault();
                this.$http
                    .post('/api/todo_lists', {name: this.title})
                    .then(response => {
                        this.lists.push(response.data);
                    })
            }
        },
    }
</script>