<template>
    <div>
        <template v-if="list">
            <h1>{{list.name}}</h1>
            <ul>
                <li v-for="item in list.items" :key="item.id">
                    <b-form-checkbox
                            @change="updateDoneStatus(item, $event)"
                            v-model="item.done"
                            aria-describedby="flavours"
                            aria-controls="flavours"
                    >
                        {{item.id}} {{item.title}} {{item.done}}
                    </b-form-checkbox>
                </li>
            </ul>
        </template>

        <div>
            <todo-item ref="form" @save="createItem($event)"></todo-item>
        </div>
    </div>
</template>

<script>
    import TodoItem from "./TodoItem";
    export default {
        components: {TodoItem},
        props: {
            id: {
                required: true,
            },
        },
        data() {
            return {
                list: null,
            }
        },
        created() {
            this.$http
                .get(`/api/todo_lists/${this.id}`)
                .then(response => this.list = response.data)
        },
        methods: {
            updateDoneStatus(item, done) {
                this.$http.put(`/api/todo_items/${item.id}`, {done}).then(response => {
                    item.done = response.data.done;
                }).catch(() => {
                    console.log(item.done);
                    item.done = !item.done;
                });
            },
            createItem(item) {
                this.$http.post(`/api/todo_items`, {
                    list: `/api/todo_lists/${this.id}`,
                    ...item,
                }).then(response => {
                    this.list = {...this.list, items: [...this.list.items, response.data]};
                    this.$refs.form.reset();
                }).catch(error => {
                    console.log(error);
                })
                console.log(item);
            }
        }
    }
</script>