{% extends 'base.html.twig' %}

{% form_theme priceGroupForm with [_self, 'bootstrap_4_layout.html.twig'] %}

{% block price_group_price_matrix_widget %}
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>

                {% for column in form.vars.matrix.columns %}
                    <th>{{ column.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in form.vars.matrix.rows %}
                <tr>
                    <th>
                        {{ row.rowObject ? row.rowObject.name : 'Default'}}
                    </th>

                    {% for colIndex, column in form.vars.matrix.columns %}
                    <td>
                        {% if row.columns[colIndex] is defined %}
                            {{ form_row(row.columns[colIndex]) }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block body %}

    {{ form_start(priceGroupForm) }}
    {{ form_rest(priceGroupForm) }}
    <button type="submit">Save</button>
    {{ form_end(priceGroupForm) }}

{% endblock %}

