<template>
  <select-input
             :required="structure.vars.required"
             :multiple="structure.vars.multiple"
             :name="structure.vars.full_name"
             :options="structure.vars.choices_array"
             :value="mapDataToValue(data)"
             :options-endpoint="structure.vars.ajax_endpoint"
             @input="updateValue(structure.vars.name, mapValueToData($event))"
  >
  </select-input>
</template>

<script>

import SelectInput from "../SelectInput";
import {FormMixin} from "./FormMixin";

export default {
  components: {SelectInput},
  mixins: [FormMixin],
  methods: {
    mapDataToValue(data) {
      if (this.structure.vars.multiple) {
        if (data === null) {
          return [];
        }

        const result = [];

        const dataValues = Array.isArray(data) ? data : Object.values(data);

        dataValues.forEach(dataElement => {
          if (dataElement in this.structure.vars.choices) {
            result.push(this.structure.vars.choices[dataElement]);
          }
        })

        return result;
      }

      if (data === null) {
        return null;
      }

      if (data in this.structure.vars.choices) {
        return this.structure.vars.choices[data];
      }

      return null;
    },
    mapValueToData(value) {
      if (this.structure.vars.multiple) {
        return value.map(valueElem => valueElem.value);
      }

      return value.value;
    },
  }
}
</script>