<template>
    <select :name="structure.vars.full_name" :value="data" @input="updateValue(structure.vars.name, $event.target.value)">
        <option v-if="structure.vars.placeholder"
                value="">{{structure.vars.placeholder}}</option>

        <option v-for="(item, index) in structure.vars.choices"
                :key="index"
                :value="item.value"
        >{{item.label}}</option>
    </select>
</template>

<script>
    import {FormMixin} from "./FormMixin";

    export default {
        mixins: [FormMixin]
    };
</script>