<template>
    <div>
        <ul>
            <li v-for="child in structure.children" :key="child.vars.name">
                <component :is="lookupComponent(child.vars.block_prefixes, 'row')"
                           :form-structure="child"
                           :form-data="getChildData(child)"
                           :form-registry="registry"
                           @input="updateValue(child.vars.name, $event)"
                ></component>
                <button v-if="canRemove" type="button" @click="deleteElement(child)">Remove</button>
            </li>
        </ul>
        <button v-if="canAdd" type="button" @click="addElement">Add</button>
    </div>
</template>

<script>
    import {FormMixin} from "./FormMixin";
    import {extractFormDataTree, getNextIndexForStructure, replacePlaceholderInPrototype} from "./lib";

    export default {
        mixins: [FormMixin],
        computed: {
            canRemove() {
                return this.structure.vars.allow_delete;
            },
            canAdd() {
                return this.structure.vars.allow_add;
            },
        },
        methods: {
            getChildData(child) {
              if (Object.hasOwnProperty.call(this.data, child.vars.name)) {
                return this.data[child.vars.name];
              }

              if (child.vars.compound) {
                return {}
              }

              return undefined;
            },
            addElement() {
                const newIndex = getNextIndexForStructure(this.structure);
                const newElement = replacePlaceholderInPrototype(this.structure.vars.prototype, newIndex);

                this.data = {...this.data, [newIndex]: extractFormDataTree(newElement)};

                // if we don't have children yet, add it
                if(this.structure.children) {
                    this.$set(this.structure.children, newIndex, newElement);
                } else {
                    this.$set(this.structure, 'children', {[newIndex]: newElement});
                }
                this.$emit('input', this.data);
            },
            deleteElement(element) {
                this.$delete(this.structure.children, element.vars.name);
                delete this.data[element.vars.name];
                this.$emit('input', this.data);
            }
        }
    };
</script>