<template>
    <ul v-if="structure.vars.errors && structure.vars.errors.length > 0" class="alert-danger">
        <li v-for="(error, index) in structure.vars.errors" :key="index">
            {{error.message}}
        </li>
    </ul>
</template>

<script>
    import {FormMixin} from "./FormMixin";

    export default {
        mixins: [FormMixin],
    }
</script>