<template>
  <component :is="formWidgetComponent" :form-structure="structure" :form-registry="registry" :form-data="data" @input="updateValue(null, $event)"></component>
</template>

<script>
import {FormMixin} from "./FormMixin";

export default {
  name: "FormWidget",
  mixins: [FormMixin],
}
</script>
