<template>
  <label-helper :form-structure="structure" :form-data="data" :form-registry="registry"></label-helper>
</template>

<script>
import LabelHelper from "./Label";
import {FormMixin} from "./FormMixin";

export default {
  name: "FormLabel",
  mixins: [FormMixin],
  components: {LabelHelper}
}
</script>
