<template>
    <div>
         {{structure.vars.name}} - {{structure.vars.block_prefixes}}
        <ul>
            <li v-for="child in structure.children" :key="child.vars.name">
                <component :is="lookupComponent(child.vars.block_prefixes, 'row')"
                           :form-structure="child"
                           :form-data="data[child.vars.name]"
                           :form-registry="registry"
                           @input="updateValue(child.vars.name, $event)"
                ></component>
            </li>
        </ul>
    </div>
</template>

<script>
    import {FormMixin} from "./FormMixin";

    export default {
        mixins: [FormMixin],
    };
</script>