<template>
    <div v-bind="structure.attr">
      <form-label :form-structure="structure" :form-registry="registry" :form-data="data"></form-label>
      <form-widget :form-structure="structure" :form-registry="registry" :form-data="data" @input="updateValue(null, $event)"></form-widget>
<!--        <component :is="formWidgetComponent" :form-structure="structure" :form-registry="registry" :form-data="data" @input="updateValue(null, $event)"></component>-->
        <component :is="formErrorsComponent" :form-structure="structure" :form-registry="registry" :form-data="data"></component>
    </div>
</template>

<script>
import {FormMixin} from "./FormMixin";
import FormWidget from "./FormWidget";
import FormLabel from "./FormLabel";

export default {
  components: {FormLabel, FormWidget},
  mixins: [FormMixin],
}
</script>