<template>
    <input type="hidden" :name="structure.vars.full_name" :value="data">
</template>

<script>
    import {FormMixin} from "./FormMixin";

    export default {
        mixins: [FormMixin]
    };
</script>