<template>
    <input :type="textType"
           :name="structure.vars.full_name"
           :value="data"
           @input="updateValue(structure.vars.name, $event.target.value)">
</template>

<script>
import {FormMixin} from "./FormMixin";
import {reverse} from "./lib";

const TextTypes = new Set(['button', 'checkbox', 'color', 'date', 'datetime-local', 'email', 'file', 'hidden', 'image', 'month', 'number', 'password', 'radio', 'range', 'reset', 'search', 'submit', 'tel', 'text', 'time', 'url', 'week', 'datetime']);

export default {
    mixins: [FormMixin],
    computed: {
        textType() {
            for (const blockPrefix of reverse(this.structure.vars.block_prefixes)) {
                if (TextTypes.has(blockPrefix)) {
                    return blockPrefix;
                }
            }
            return 'text';
        }
    }
};
</script>