<template>
  <div>
    <multiselect
        :allow-empty="!required"
        :options="resolvedOptions"
        :multiple="multiple"
        v-model="data"
        label="label"
        track-by="value"
        :searchable="true"
        :internal-search="optionsEndpoint !== ''"
        @search-change="asyncFind"
        @input="$emit('input', $event)"
    >
    </multiselect>

    <template v-if="multiple">
      <input v-for="selection in data" :key="selection.value" type="hidden" :name="name" :value="selection.value">
    </template>
    <template v-else>
      <input type="hidden" :name="name" :value="data ? data.value : ''">
    </template>
  </div>

</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
  components: {Multiselect},
  name: "SelectInput",

  props: {
    required: {
      type: Boolean,
      default: false,
    },
    value: {
      type: [Array, Object, String, Number],
      default: null,
    },
    name: {
      type: String,
      required: true,
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    options: {
      type: Array,
      default: () => ([]),
    },
    optionsEndpoint: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      resolvedOptions: this.options,
      data: this.value,
    }
  },

  methods: {
    asyncFind(query) {
      if (this.optionsEndpoint === '') {
        return;
      }

      const url = new URL(this.optionsEndpoint, window.location.origin);
      url.searchParams.set('q', query);

      this.isLoading = true
      this.$http.get(url.toString()).then(response => {
        this.resolvedOptions = response.data;
      }).finally(() => {
        this.isLoading = false;
      })
    },
  },
}
</script>
