<template>
    <div>
        hallo welt vue
        <form :action="structure.vars.action" :method="structure.vars.method">
            <Form :form-structure="structure" :form-data="formData[structure.vars.name]" @input="formData[structure.vars.name] = $event">
                <template v-slot:_test_coll_entry_row="{formStructure, formData, formRegistry, updateValue}">
                    <div class="heheheh">
                        heheheh {{formData}}
                        <form-row :form-structure="formStructure" :form-registry="formRegistry" :form-data="formData" @input="updateValue(null, $event)"></form-row>
                    </div>
                </template>

<!--              <template v-slot:table_row="{formStructure, formData, formRegistry, updateValue}">-->
<!--                <table>-->
<!--                  <tr>-->

<!--                  </tr>-->
<!--                  <form-widget :form-structure="formStructure" :form-registry="formRegistry" :form-data="formData" @input="updateValue(null, $event)"></form-widget>-->
<!--                </table>-->
<!--              </template>-->
<!--              <template v-slot:row_row="{formStructure, formData, formRegistry, updateValue}">-->
<!--                <td v-for="(child, index) in formStructure.children" :key="index">-->
<!--                  <form-row :form-structure="child" :form-registry="formRegistry" :form-data="formData[index]" @input="updateValue(index, $event)"></form-row>-->
<!--                </td>-->
<!--              </template>-->
            </Form>
            <button type="submit" @click.prevent="submitForm">Save</button>
        </form>

        <button type="button" @click="testButtonClicked">Test</button>
        {{formData}}
    </div>
</template>

<script>
import qs from 'qs';
import Form from "./Form/Form";
import {extractFormDataTree} from "./Form/lib";
import FormRow from "./Form/FormRow";

export default {
    components: {FormRow, Form},
    props: {
        serializedForm: {
            type: String,
            required: true,
        },
    },
    data() {
        const structure = JSON.parse(this.serializedForm);
        return this.getState(structure);
    },
    methods: {
        getState(form) {
            const formData = extractFormDataTree(form, true);
            return {
                structure: form,
                formData,
            }
        },
        updateState(form) {
            const {structure, formData} = this.getState(form);
            console.log('updateState', structure);
            this.structure = structure;
            this.formData = formData;
            // this.deepAssign(this.structure, structure);
            // this.deepAssign(this.formData, formData);
        },
        deepAssign(target, source) {
            const keys = new Set(Object.keys(source));
            const keysToDelete = new Set(Object.keys(target).filter(key => !keys.has(key)));

            for (const key of keys) {
                if (typeof source[key] === "object" && !Array.isArray(source[key]) && target[key]) {
                    this.deepAssign(target[key], source[key]);
                } else if(!target[key]) {
                    this.$set(target, key, source[key]);
                } else {
                    target[key] = source[key];
                }
            }

            for (const key of keysToDelete) {
                this.$delete(target, key);
            }
        },
        submitForm() {
            const url = this.structure.vars.action || window.location.href;
            const submitData = qs.stringify(this.formData);
            this.$http.post(url, submitData, {
                method: this.structure.action,
            }).then(response => {
                console.log(response);
                if (response.data.form) {
                    this.updateState(response.data.form);
                }
            }).catch(error => {
                console.log(error);
            });
        },
        testButtonClicked() {
            console.log(this);
        }
    },
};
</script>