<template>
    <div>
        {{structure.vars.label}}
        <div v-if="structure.vars.errors && structure.vars.errors.length > 0">{{structure.vars.errors}}</div>
        <ul v-if="structure.children">
            <li v-for="child in structure.children" :key="child.label">
                <TreeElement :structure-data="child"></TreeElement>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "TreeElement",
        props: {
            structureData: {
                required: true,
            }
        },
        // watch: {
        //     structureData: {
        //         deep: true,
        //         handler() {
        //             console.log('shaat', arguments);
        //         }
        //     },
        // },
        data() {
            return {
                structure: this.structureData,
            };
        },
    }
</script>
