{% set assetBase = 'http://localhost:8081' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>arghle</title>
    <link href="{{ assetBase }}/js/app.js" rel="preload" as="script"><link href="{{ assetBase }}/js/chunk-vendors.js" rel="preload" as="script"></head>
<body>

<div id="test-root">

    <div>
        hehe

        <div>
            <test-view></test-view>
        </div>
    </div>

</div>

<script type="text/javascript" src="{{ assetBase }}/js/chunk-vendors.js"></script><script type="text/javascript" src="{{ assetBase }}/js/app.js"></script></body>
</html>


