{% block ajax_choice_type_widget %}
    <component is="select-input"
               {% if form.vars.required %}required{% endif %}
               {% if form.vars.multiple %}multiple{% endif %}
               name="{{ form.vars.full_name }}"
               :options="{{ form.vars.choices_array|json_encode|e('html_attr') }}"
               :value="{{ form.vars.data_as_choices|json_encode|e('html_attr') }}"
               options-endpoint="{{ form.vars.ajax_endpoint }}"
    >
    </component>
{% endblock %}